@import "../../style.scss";
.doctor-page {

  @include themify($themes){
    padding: 20px;
    height: 100vh;
    overflow: scroll;
  background-color: themed("bg");
  
    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
  
      h1 {
        margin-bottom: 10px;
        color: themed("textColorSoft");
      }
  
      input {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 300px;
        max-width: 100%;
        background-color: themed("bgSoft");
      }
    }
  
    .doctors-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 20px;
    }
  
    .doctor-card {
      background-color: themed("bgDeep");
      border-radius: 4px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
  
      img {
       width: 100%;
        object-fit: cover;
        border-radius: 12px;
        // border-radius: 50%;
        margin-right: 20px;

        &:hover{
            filter: contrast(0.3);
        }
      }
  
      .doctor-info {
        display: flex;
        flex-direction: column;
  
        h2 {
          margin-bottom: 5px;
          font-size: 16px;
          text-align: center;
          margin-bottom: 12px;
          color: themed("textColorSoft");
        }
  
        p {
          margin: 0;
          color: themed("logo");
        }
      }
    }
  }
}