@import "../../responsive.scss";
@import "../../style.scss";

.homePage{
    
@include themify($themes){
    background-color: themed("bgSoft");
    padding: 20px 70px;

    @include md{
       flex: 1;
        background-color: themed("bg");
        justify-content: center;
        align-items: center;
      
        padding: 3px 10px;
        
    }

    


    display: flex;
    height: 100%;
    .textContainer{
        flex:3;
        background-color: themed("bg");

        @include md{
            flex: 1;
            background-color: themed("bg");
            
        }
        

        .wrapper{
            padding-right: 100px;
            padding-top: 23px;
            padding-left: 23px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            height: 100%;
            // align-items: center;
            width: inherit;
            justify-content: center;

            @include sm{
                
                margin: 0 auto;
                background-color: themed("bg");
                margin-left: 0;
                justify-content: center;
                
                
            }
            .btn{
                display: flex;
                gap: 12px;
                 button{
                    padding: 12px;
                    padding-right: 15px;
                    padding-left: 15px;
                    border: none;
                    outline: none;
                    color:themed("bg"); ;
                    background-color: themed("logo");
                    cursor: pointer;

                 }
                 .register{
                    background-color: themed("bgBtn");
                    color: themed("logo");
                 }

            }

            @include md{
               padding: 0;
            }

            @include sm{
                justify-content: flex-start;
             }
 


        }

        .title{
            color: themed("textColorSoft");
            font-size: 44px;

            @include sm{
                font-size: 25px;
            }
        }

        p{
            color: themed("textColor");
        }

        .boxes{
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 12px;

           
            @include lg{
                display: none;
            }

            .box{
                padding: 12px;
                background-color: themed("bgSoft");
                border-radius: 13px;
                color: themed("textColorSoft");
                
                h1{
                    font-size: 34px;

                    @include lg{
                        font-size: 31px;
                    }

                }
                h2{
                    font-size: 20px;
                    font-weight: 200;
                }

               
    

            }

            
        }
    }

    .imgContainer{
        position: relative;
        flex: 2;
        background-color:themed("bgSoft");
        display: flex;
        align-items: center;

        @include md{
            display: none;
        }

        @include md{
            display: none;
        }


.boxCover{
    width: 100%;
    margin: 0 auto;
    height: 100px;
    background-color: themed("bg");
    z-index: 48;
    position: absolute;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    color: themed("logo");

}

        img{
            width: 115%;
            position: absolute;
            right: 0;

            @include lg{
                width: 105%;
            }

        }
    }


}

}


