@import "../../style.scss";
.filter {
  @include themify($themes){
    display: flex;
    flex-direction: column;
    gap: 10px;
  
    h1 {
      font-weight: 300;
      font-size: 24px;
    }
  
    .item {
      display: flex;
      flex-direction: column;
      gap: 2px;
  
      label {
        font-size: 10px;
      }
  
      input,
      select {
        width: 100px;
        padding: 10px;
        border: 1px solid themed("bgSoft");
        border-radius: 5px;
        font-size: 14px;
      }
    }
  
    .top {
      input {
        width: 70%;
        margin: 0 auto;
        background-color: themed("bgSoft");
      }
    }
  
    .bottom {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;

      .item{
        
          select{
          background-color: themed("bgSoft");
          color: themed("textColorSoft");
           
          option{
            padding: 12px;
            background-color: themed("bgSoft");
          }
          input{
            background-color: themed("bgSoft");
            color: themed("textColorSoft");
             
          }
          }
        
      }

      .item{
        input{
          background-color: themed("bgSoft");
            color: themed("textColorSoft");
        }
      }
  
      button {
        width: 70px;
        padding: 3px;
        border-radius: 34%;
        border: none;
        cursor: pointer;
        background-color: themed("bgBtn");
  
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}