@import "../../responsive.scss";
@import "../../style.scss";

.listPage {
  @include themify($themes){
  display: flex;
  height: 100%;
  background-color: themed("bg0");


  @include md{
    flex-direction: column;

  }
//   margin-top: 99px;

  .listContainer {
    flex: 3;
    height: 100%;



    .wrapper{
      height: 100%;
    //   padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      overflow-y: scroll;
      background-color: themed("bgSoft");
      padding-bottom: 50px;
      scroll-behavior: smooth;
    }
  }
  .mapContainer {
    flex: 2;
    height: 100%;
    height: 100vh;
    background-color: themed("bg");
     

    @include md{
      flex: 1;
     height: 300px;
     width: 40%x;
    }
  }
}
}