@import "../../responsive.scss";
@import "../../style.scss";
.cardContainer{
  @include themify($themes){
display: flex;
gap: 12px;
height: max-content;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 12px;
@include md{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 4.2rem;
  border: 2px solid themed("color");
  padding: 12px;

}


.card {
  display: flex;
  gap: 4px;
  flex-direction: column;
  flex: 1;
  background-color: themed("bg");
  padding: 12px;
  align-items: center;
    height: max-content;

  justify-content: center;

  @include sm{
  align-items: center;
  // margin: 0 auto;
  padding: 23px;
  }

  .imageContainer {
    flex: 3;
    height: max-content;
    display: flex;
    align-items: center;


    @include sm{
      // height: 200px;
      // width: 200px;
      // background-color: red;
      // flex: 2;
    }

   

    img {
      width: 90%;
      margin: 0 auto;
      height: 90%;
      // object-fit: cover;
      border-radius: 10px;

      @include sm{
     width: 100%;
     height: max-content;
        display: initial;
        margin: 0 auto;
       
      }
    }
  }
  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  
    .location{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 13px;
      @include md{
        display: none;
      }

      .experience{
        color: themed("logo");
        background: themed("bgBtn");
        padding: 12px;
      }
    }

    img {
      width: 13px;
      height: 12px;
    }

    .title {
      font-size: 20px;
      font-weight: 600;
      color:themed("textColorSoft");
      transition: all 0.4s ease;
      margin-top: 2rem;

      .specialist{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
      }

      &:hover {
        color: themed("textColorSoft");
        scale: 1.01;
      }
    }

    .address {
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 5px;
      color: themed("textColorSoft");
    }

    .ratings{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      font-size: 12px;
      span{
        font-size: 16px;
        @include md{
          display: none;
        }
      }

    }

    .price {
      font-size: 20px;
      font-weight: 300;
      padding: 5px;
      border-radius: 5px;
      background-color: rgba(254, 205, 81, 0.438);
      width: max-content;
    }

    .bottom {
      display: flex;
      justify-content: space-between;
      gap: 10px;

      .features {
        display: flex;
        gap: 20px;
        font-size: 14px;

        .feature {
          display: flex;
          align-items: center;
          gap: 5px;
          background-color: whitesmoke;
          padding: 5px;
          border-radius: 5px;
        }
      }

      .icons {
        display: flex;
        gap: 20px;

        .icon {
          position: relative;
          border: 1px solid #999;
          padding: 2px 5px;
          border-radius: 5px;
        //   cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;

          .msg{
            position: absolute;
           top: -6px;
            color: white;
            background-color: red;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            right: -2px;
          }

          &:hover {
            background-color: lightgray;
          }
        }
      }
    }
  }
}
.latestInfo{
flex: 1;
display: flex;
flex-direction: column;
gap: 12px;
margin-top: 4rem;
color: themed("textColorSoft");
padding-left: 23px;

@include sm{
  display:none;
}

.icons{
  display: flex;
  gap: 13px;
  align-content: center;

  span{
    cursor: pointer;
  }
  
}
}

}

}